html
    head
        title #{title}
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", type="text/css")
        link(rel="stylesheet", href="/css/feedback-form.css", type="text/css")
    body
        .container-fluid
            h1.row.col-xs-12 Thank you!
            p.row.col-xs-12 We received your feedback.
        script.
            var ok = true
