doctype html
html
	head
		title WEA+ Visualizer
		meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
		//link(rel="stylesheet", href="lib/maps/css/ol.css", type="text/css")

		link(rel="stylesheet", href="lib/bootstrap/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="lib/bootstrap/css/bootstrap-responsive.min.css", type="text/css")
		link(rel='stylesheet', href='/css/page-container.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/style-responsive.css')
		link(rel='stylesheet', href='/css/style-default.css')
		link(rel="stylesheet", href="/css/bootstrap-datetimepicker.css", type="text/css")
		!= templates
	body
		block content