#map-canvas { height:800px }
.infoContent { width: 200px }


.banner.warning {
	background-image: url(/img/warning.png);
	height: 199px !important;
}

.banner {
	background-repeat: no-repeat;
	background-image: url(/img/tracking.png);
	background-position: 50% 0;
	overflow: hidden;
}

#panel {
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: -500px;
  width: 270px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.61);
  -webkit-transition: all 0.2s;
  -webkit-transition-timing-function: ease-in;
  /*display: none;*/
}

#panel-title {
  overflow: hidden;
  margin-right: 30px;
  cursor: pointer;
}

#minimize {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(/img/minimize.png) 50% 50% no-repeat;
}

#panel.visible {
  right: 20px;
}

#panel.open {
  top: 20px;
}

#panel .panel-title {
  position: relative;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.2s;
  -webkit-transition-timing-function: ease-in;
}

#panel-body .active-alert {
	height: 141px;
}

#panel.open #minimize {
  background: url(/img/maximize.png) 50% 50% no-repeat;
}

#panel.open .panel-title {
  border-radius: 4px 4px 0 0;
}

#panel.open #panel-body {
  display: block;
}

#panel-body {
  display: none; !important
  border-radius: 0 0 4px 4px;
}

#panel.open #panel-body {
  display: block;
}

#panel-body .section {
  border-top: 1px solid #ededed;
}

#panel-body .section-text {
  height: auto;
  -webkit-transition: height .2s;
  overflow: hidden;
}

#panel-body h2 {
  margin: 0;
  padding: 17px 0 10px 0;
  color: #444;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.tabs a {
  display: inline-block;
  text-align: center;
  color: #5d8ff3;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #ededed;
  border-top: 0;
  line-height: 51px;
}

.tabs a.active {
  color: #000;
  border: 0;
  border-top: 5px solid #5e94ff;
  line-height: 47px;
}

.tabs.message a {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #ededed;
  border-top: 0;
  line-height: 51px;
}


.tabs.message a.active {
  color: #000;
  border: 0;
  width: 237px;
  border-top: 5px solid #ffffff;
  line-height: 47px;
}


.panel-title {
  background: #5e94ff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlOTRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NThjZmIiIHN0b3Atb3BhY2l0eT0iMEIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMEIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #5e94ff 0%, #558cfb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e94ff), color-stop(100%,#558cfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5e94ff 0%,#558cfb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #53pxe94ff 0%,#558cfb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5e94ff 0%,#558cfb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5e94ff 0%,#558cfb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e94ff', endColorstr='#558cfb',GradientType=0 ); /* IE6-8 */
}

.panel-title {
  white-space: nowrap;
  text-align: left;
  border-radius: 4px 4px 0 0;
  line-height: 40px;
  color: #fff;
  padding: 0 10px;
  font-size: 20px;
  font-weight: normal;
}

#panel p {
  font-size: 12px;
  color: #828282;
  margin: 0;
  padding: 19px 20px;
  line-height: 20px;
}

.banner-info {
	text-align: center;
	padding-top: 118px !important; 
	font-size:15px !important;
}
/*
 *
 * Navigation Tabs
 *
 */

.nav {
	display: none;
}

.nav.active{
	display: block;
}

/*
 *	Table generated by http://www.table.com
 *
 */

.table-wrapper{ 
	overflow: auto;
	max-height: 210px;
}

.table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #e5e5e5;

}.table table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table tr:hover td{
	background-color: #B3E5FF;
}
.table tr:nth-child(odd){ 
	background-color: #E6F7FF;
	border:1px solid #e5e5e5;
	cursor:pointer;
}

.table tr:nth-child(even)    { 
	background-color:#ffffff; 
	border:1px solid #e5e5e5;
	cursor:pointer;
}
.table tr.highlight{
  background-color: #dcc9da;

}
.table td{
	vertical-align:middle;
	text-align:left;
	padding:4px 6px 4px 6px;
	font-size:10px;
}
.table th{
	background-color: #B3E5FF;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}



/*
 *
 *	New Aert Panel
 *
 */

#panel.new-alert-panel.visible {
	left:40px;
}

#panel.new-alert-panel {
	width:270px;
}

#panel.new-alert-panel > #panel-body {
	overflow: auto;
	max-height:510px;
}

.form-horizontal .control-group {
  margin-bottom: 5px;
}

